node_modules/

# Ignorer les dossiers bin et obj dans simplonCine-api-gateway
simplonCine-api-gateway/bin/
simplonCine-api-gateway/obj/

# Ignorer les packages et dépendances NuGet dans simplonCine-api-gateway
simplonCine-api-gateway/packages/
simplonCine-api-gateway/*.nupkg
simplonCine-api-gateway/project.lock.json
simplonCine-api-gateway/project.fragment.lock.json

# Ignorer les fichiers générés par Visual Studio ou d'autres IDE
simplonCine-api-gateway/*.user
simplonCine-api-gateway/*.rsuser
simplonCine-api-gateway/*.suo
simplonCine-api-gateway/*.sln.docstates
simplonCine-api-gateway/.vs/
simplonCine-api-gateway/.vscode/

# Ignorer le dossier .nuget
simplonCine-api-gateway/.nuget/

# Ignorer les fichiers de logs et les fichiers temporaires des IDE
simplonCine-api-gateway/*.log
simplonCine-api-gateway/.idea/
